<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="/var/www/html/tests/PHPUnit/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="false" includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">./</directory>
    </include>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
    </report>
  </coverage>
  <logging/>
  <testsuite name="integration">
    <directory>/var/www/html/plugins/SingleDigitalGateway/tests/Integration</directory>
  </testsuite>
</phpunit>
