{% extends 'admin.twig' %}

{% block content %}
<div class="card">
<div class="card-content">
  <div style="float:right">
    <a style="text-decoration:none" href="https://www.digitalist.se/">
      <img src="plugins/ExtraTools/assets/dot.png" height="40" />
    </a>
  </div>
  <h2 class="card-title">ExtraTools</h2>
{{ info | raw }}
</div>
</div>
{% endblock %}
